<a href="https://colab.research.google.com/github/ralsouza/data_manipulation_with_python/blob/master/notebooks/04_pandas_dataframes_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures with Pandas
`pandas.Series()` - 1 dimension - 1D

`pandas.Dataframe()` - 2 dimensions - 2D

`pandas.Panel()` - 3 dimensions - 3D

For more than 3 dimensions, use NumPy

`numpy.ndarray()` - x dimensions

In [0]:
import numpy as np
import pandas as pd

In [0]:
stock = {'AMZN': pd.Series([346.15,0.59,459,0.52,589.8,158.88],
                           index = ['Closing price','EPS','Shares Outstanding(M)', 
                                  'Beta', 'P/E','Market Cap(B)']),
         'GOOG': pd.Series([1133.43,36.05,335.83,0.87,31.44,380.64],
                            index = ['Closing price','EPS','Shares Outstanding(M)',
                                  'Beta','P/E','Market Cap(B)']),
         'FB': pd.Series([61.48,0.59,2450,104.93,150.92],
                            index = ['Closing price','EPS','Shares Outstanding(M)',
                                  'P/E', 'Market Cap(B)']),
         'YHOO': pd.Series([34.90,1.27,1010,27.48,0.66,35.36],
                            index=['Closing price','EPS','Shares Outstanding(M)',
                                  'P/E','Beta', 'Market Cap(B)']),
         'TWTR':pd.Series([65.25,-0.3,555.2,36.23],
                            index=['Closing price','EPS','Shares Outstanding(M)',
                                  'Market Cap(B)']),
         'AAPL':pd.Series([501.53,40.32,892.45,12.44,447.59,0.84],
                            index=['Closing price','EPS','Shares Outstanding(M)','P/E',
                                  'Market Cap(B)','Beta'])}

In [6]:
type(stock)

dict

In [9]:
# Convert this dict to Dataframe
stock_df = pd.DataFrame(stock); stock_df

                         AMZN     GOOG       FB     YHOO    TWTR    AAPL
Beta                     0.52     0.87      NaN     0.66     NaN    0.84
Closing price          346.15  1133.43    61.48    34.90   65.25  501.53
EPS                      0.59    36.05     0.59     1.27   -0.30   40.32
Market Cap(B)          158.88   380.64   150.92    35.36   36.23  447.59
P/E                    589.80    31.44   104.93    27.48     NaN   12.44
Shares Outstanding(M)  459.00   335.83  2450.00  1010.00  555.20  892.45

In [11]:
# When necessary, define the index names
stock_df = pd.DataFrame(stock, 
                        index = ['Closing price',
                                 'EPS', 
                                 'Shares Outstanding(M)',
                                 'P/E', 
                                 'Market Cap(B)',
                                 'Beta']); stock_df

                         AMZN     GOOG       FB     YHOO    TWTR    AAPL
Closing price          346.15  1133.43    61.48    34.90   65.25  501.53
EPS                      0.59    36.05     0.59     1.27   -0.30   40.32
Shares Outstanding(M)  459.00   335.83  2450.00  1010.00  555.20  892.45
P/E                    589.80    31.44   104.93    27.48     NaN   12.44
Market Cap(B)          158.88   380.64   150.92    35.36   36.23  447.59
Beta                     0.52     0.87      NaN     0.66     NaN    0.84

In [12]:
# When necessary, define the column names and indexes
stock_df = pd.DataFrame(stock,
                        index = ['Closing price',
                                 'EPS',
                                 'Shares Outstanding(M)',
                                 'P/E', 
                                 'Market Cap(B)',
                                 'Beta'],
                        columns = ['FB','TWTR','SCNW']); stock_df

# Note the column SCNW, that doesn't match with DataFrame and Pandas assigning the NaN values

                            FB    TWTR SCNW
Closing price            61.48   65.25  NaN
EPS                       0.59   -0.30  NaN
Shares Outstanding(M)  2450.00  555.20  NaN
P/E                     104.93     NaN  NaN
Market Cap(B)           150.92   36.23  NaN
Beta                       NaN     NaN  NaN

In [13]:
# Call index name attribute
stock_df.index

Index(['Closing price', 'EPS', 'Shares Outstanding(M)', 'P/E', 'Market Cap(B)',
       'Beta'],
      dtype='object')

In [14]:
# Call column name attribute
stock_df.columns

Index(['FB', 'TWTR', 'SCNW'], dtype='object')