<a href="https://colab.research.google.com/github/ralsouza/data_manipulation_with_python/blob/master/notebooks/05_pandas_dataframe_operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Operations with Dataframes

In [0]:
import pandas as pd
import numpy as np

## Part 1

In [0]:
olympic_medals_panel = {
    'USA' : {'Gold':46, 'Silver':37, 'Bronze':38},
    'China':{'Gold':26, 'Silver':18, 'Bronze':26},
    'Britain':{'Gold':27, 'Silver':23, 'Bronze':17},
    'Russe':{'Gold':19, 'Silver':18, 'Bronze':19},
    'Germany':{'Gold':17, 'Silver':10, 'Bronze':15}}

In [4]:
# Convert from dict to DataFrame
# We will use the .from_dict() because the olympic_medals_panel is a nested dict
olympiad = pd.DataFrame.from_dict(olympic_medals_panel); olympiad

        USA  China  Britain  Russe  Germany
Gold     46     26       27     19       17
Silver   37     18       23     18       10
Bronze   38     26       17     19       15

In [5]:
type(olympiad)

pandas.core.frame.DataFrame

In [8]:
# Making a subsetting by column name
medals_china = olympiad['China']; medals_china

Gold      26
Silver    18
Bronze    26
Name: China, dtype: int64

In [9]:
# The same could be done with "dot notation"
olympiad.China

Gold      26
Silver    18
Bronze    26
Name: China, dtype: int64

In [10]:
# Slice two columns
olympiad[['China','Russe']]

        China  Russe
Gold       26     19
Silver     18     18
Bronze     26     19

In [11]:
# Select with .get()
olympiad.get('Germany')

Gold      17
Silver    10
Bronze    15
Name: Germany, dtype: int64

In [13]:
# Selecting data using "Index Location" .iloc()
# Slice row, by row in index 1
olympiad.iloc[1]

USA        37
China      18
Britain    23
Russe      18
Germany    10
Name: Silver, dtype: int64

## Part 2